@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

/* public/styles/landingpage.css */
.healthfoodimg {
  -webkit-mask: url('../images/blob.svg') no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  width: 100%;
  height: auto;
}
h1 {
  font-family: 'Indie Flower';
}

h4 {
  font-family: 'Indie Flower';
  text-align: center;
}

div.login {
  display: flex;
  flex-direction: column;
}

div.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
