* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f6f4;
}

.plus-minus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: relative;
}

.action-button {
  user-select: none;
  height: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
}

.MealPlanGenerator {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
}

section {
  margin: 2rem 0 1rem 0;
}

.controls {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

button {
  width: 25%;
  padding: 0.5rem 1rem;
  background-color: #2c3333;
  border-radius: 5px;
  color: #f3f3f3;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

button:hover {
  background-color: #395b64;
  cursor: pointer;
}
.submit-food {
  width: 100px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.nutrients ul {
  display: flex;
  width: 35rem;
  justify-content: space-evenly;
}

.meals {
  display: flex;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

article {
  display: flex;
  background-color: #f8f6f4;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 3rem;
  max-width: 300px;
  box-shadow: 0 4px 8px 5px rgba(77, 77, 77, 0.15);
}

article h1 {
  color: #395b64;
}

ul {
  list-style: none;
}

.instructions {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  background-color: #395b64;
  color: #f3f3f3;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

a:hover {
  background-color: #a5c9ca;
  color: #1a5f7a;
  cursor: pointer;
}

.calorie-counter-contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.removeFood {
  width: fit-content;
}

@media only screen and (max-width: 1024px) {
  .meals {
    flex-direction: column;
    align-items: center;
  }

  .nutrients ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

/* food log */

.food-log-container {
  text-align: left;
}

.day-of-food {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  padding: 25px;
  margin: 25px;
}
